@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Registration Page</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="~/AdminLTE/index2.html"><b>Account Confirmed</b></a>
        </div>

        <div class="card">

            <p class="login-box-msg"></p>


            <div class="register-box">
                <div class="register-logo">
                    <a href="/"><b>HRMIS</b></a>
                </div>

                <div class="card">
                    <div class="card-body register-card-body" style="text-align:center">
                        <p class="login-box-msg"> Thank you for confirming your email</p>
                        <p>
                           
                            <a class="btn btn-primary btn-block" href="/" style="background-color: #3d66a9; border: #3d66a9">Login</a>
                        </p>

                    </div>
                    <!-- /.form-box -->
                </div><!-- /.card -->
            </div>



            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    @section Scripts {
        <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/AdminLTE/dist/js/adminlte.min.js"></script>
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>