@model EmployeeManagementSystem.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Assign User Role";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Assign User Role</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="AssignUserRole">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="RoleId" class="control-label"></label>
                                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="card-footer">
                                <div class="clearfix">
                                    <a asp-action="Index" class="btn btn-danger push-left">Back to List</a>
                                    <input type="submit" value="Save Role" class="btn btn-primary" style="background-color: #3d66a9; border: #3d66a9" />
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}